python-dateutil==2.8.1
numpy~=1.18.3
pytz~=2019.3
ruamel.yaml
sqlalchemy~=1.3.22
spacy==3.0.6
https://github.com/explosion/spacy-models/releases/download/pl_core_news_lg-3.0.0/pl_core_news_lg-3.0.0.tar.gz
